<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p @click="low_num">{{num}}</p>
    <p>十位:{{parseInt(num/10)}}</p>
    <p>个位:{{num%10}}</p>

    <input type="number" v-model="shi" max="9" min="0">
    <input type="number" v-model="ge" max="9" min="0">
    结果: <b>{{shi*10+ +ge}}</b>
    结果: <b>{{result}}</b>
</div>

<script>
    new Vue({
            el: "#app",
            data: {
                num: 34,
                shi: "",
                ge: "",
                // result: '11'
            },
            methods:{
                low_num(){
                    this.num --;
                }
            },
            computed:{
                result(){
                    console.log("hahahaha")
                    return this.shi * 10 + +this.ge;
                }
            }
        }
    )
</script>
</body>
</html>